@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";


.card-group {
        @apply bg-white shadow-md w-full flex flex-col space-y-5
        rounded-2xl hover:shadow-lg hover:scale-105 transition-transform duration-200 cursor-pointer;
    }
